<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://code.z01.com/v4/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
<!--    <link rel="stylesheet" href="https://code.z01.com/boot/dist/css/font-awesome.min.css" >-->
    <script src="https://code.z01.com/v4/dist/js/popper.min.js"></script>

    <script src="https://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script src="https://www.jq22.com/demo/bootstrap-autohidingnavbar-master/src/jquery.bootstrap-autohidingnavbar.js"></script>
    <title>更新可转债持仓</title>
    <style>
        .container {max-width: 700px;}
        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }
        .border-top-gray { border-top-color: #adb5bd; }
        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
        .lh-condensed { line-height: 1.25; }
    </style>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="text-align: left;">
    <div class="container" style="text-align: left">
        <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <form class="needs-validation" novalidate action="/save_jsl_bond_data.html" method="post">

        <div class="mb-3">
            <label for="source_code">JSON格式可转债数据</label>
            <textarea class="form-control" rows="20" cols="200" name="source_code" id="source_code" ></textarea>
        </div>
        <br/>
        <center>
            <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 120px">提&nbsp;&nbsp;交</button>
        </center>
    </form>
</div>
<script>
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });

        }, false);

      })();

    </script>
</body>
</html>
        