<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/img/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootsnav.css">


        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/js/bootsnav.js"></script>
        <title>更新可转债数据库</title>
        <style>
            html,body {height: 100%;}


            .container {max-width: 700px;}
            .border-top { border-top: 1px solid #e5e5e5; }
            .border-bottom { border-bottom: 1px solid #e5e5e5; }
            .border-top-gray { border-top-color: #adb5bd; }
            .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
            .lh-condensed { line-height: 1.25; }
        </style>
    </head>
    <body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <form class="needs-validation" novalidate action="/execute_sql.html" method="post">

                <div class="mb-3">
                    <label for="sql_code">SQL语句</label>
                    <textarea class="form-control" rows="20" cols="200" name="sql_code" id="sql_code" ></textarea>
                </div>
                <br/>
                <center>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 120px">提&nbsp;&nbsp;交</button>
                </center>
            </form>
        </div>
        <script>
              (function() {
                'use strict';
                window.addEventListener('load', function() {
                  var forms = document.getElementsByClassName('needs-validation');
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);
                  });

                }, false);

              })();

        </script>
    </body>
</html>
        