
            <style>
            div{

              overflow:auto;

              width:1324px;

              height:890px; /* 固定高度 */
              border:1px solid gray;
              border-bottom: 0;
              border-right: 0;


            }

            td, th {

              border-right :1px solid gray;
              border-bottom :1px solid gray;

              width:100px;

              height:30px;

              box-sizing: border-box;

              font-size:7;

            }

            th {

              background-color:lightblue;

            }


            table {
              border-collapse:separate;
              table-layout: fixed;
              width: 100%; /* 固定寬度 */

            }

            td:first-child, th:first-child {

              position:sticky;

              left:0; /* 首行在左 */

              z-index:1;

              background-color:lightpink;

            }

            thead tr th {

              position:sticky;

              top:0; /* 第一列最上 */

            }

            th:first-child{

              z-index:2;

              background-color:lightblue;

            }
          </style>

            
        <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Title</title>
    </head>
    <body>
    <div>
        <br><center> =========回售策略=========</center><br><table>
    <thead>
        <tr>
            <th>名称</th>
            <th>信用</th>
            <th>转债价格</th>
            <th>回售收益率</th>
            <th>回售年限</th>
            <th>性价比</th>
            <th>持有</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113017.html'>吉视转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601929.html'>[正股]</a></td>
            <td>AA+</td>
            <td>97.2</td>
            <td>5.7</td>
            <td>0.63</td>
            <td>5.07</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128026.html'>众兴转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002772.html'>[正股]</a></td>
            <td>AA-</td>
            <td>98.489</td>
            <td>4.5</td>
            <td>0.59</td>
            <td>3.91</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128037.html'>岩土转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002542.html'>[正股]</a></td>
            <td>AA</td>
            <td>98.88</td>
            <td>2.95</td>
            <td>0.84</td>
            <td>2.11</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123004.html'>铁汉转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300197.html'>[正股]</a></td>
            <td>AA</td>
            <td>99.765</td>
            <td>2.35</td>
            <td>0.60</td>
            <td>1.75</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113014.html'>林洋转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601222.html'>[正股]</a></td>
            <td>AA</td>
            <td>100.71</td>
            <td>1.75</td>
            <td>0.46</td>
            <td>1.29</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113535.html'>大业转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603278.html'>[正股]</a></td>
            <td>AA</td>
            <td>99.85</td>
            <td>1.21</td>
            <td>0.99</td>
            <td>0.22</td>
            <td></td>
        </tr>
    </tbody>
</table><br><center> =========低溢价低余额策略=========</center><br><table>
    <thead>
        <tr>
            <th>名称</th>
            <th>转股余额(亿元)</th>
            <th>转债价格</th>
            <th>溢价率</th>
            <th>双低值</th>
            <th>股票市值(亿元)</th>
            <th>余额/股本(%)</th>
            <th>信用</th>
            <th>持有</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113570.html'>百达转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603331.html'>[正股]</a></td>
            <td>2.8</td>
            <td>102.64</td>
            <td>18.2</td>
            <td>120.84</td>
            <td>18.0</td>
            <td>13.6</td>
            <td>A+</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128120.html'>联诚转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002921.html'>[正股]</a></td>
            <td>2.6</td>
            <td>102.835</td>
            <td>21.7</td>
            <td>124.54</td>
            <td>17.0</td>
            <td>13.3</td>
            <td>A</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128076.html'>金轮转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002722.html'>[正股]</a></td>
            <td>2.14</td>
            <td>103.653</td>
            <td>26.8</td>
            <td>130.45</td>
            <td>21.0</td>
            <td>8.3</td>
            <td>AA-</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128143.html'>锋龙转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002931.html'>[正股]</a></td>
            <td>2.45</td>
            <td>104.271</td>
            <td>19.7</td>
            <td>123.97</td>
            <td>22.0</td>
            <td>9.6</td>
            <td>A+</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123051.html'>今天转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300532.html'>[正股]</a></td>
            <td>2.79</td>
            <td>104.744</td>
            <td>18.5</td>
            <td>123.24</td>
            <td>21.0</td>
            <td>11.7</td>
            <td>A+</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123112.html'>万讯转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300112.html'>[正股]</a></td>
            <td>2.46</td>
            <td>104.83</td>
            <td>13.7</td>
            <td>118.53</td>
            <td>24.0</td>
            <td>9.4</td>
            <td>AA-</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128039.html'>三力转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002224.html'>[正股]</a></td>
            <td>2.03</td>
            <td>106.0</td>
            <td>19.1</td>
            <td>125.1</td>
            <td>38.0</td>
            <td>4.8</td>
            <td>AA-</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128025.html'>特一转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002728.html'>[正股]</a></td>
            <td>2.99</td>
            <td>106.2</td>
            <td>12.2</td>
            <td>118.4</td>
            <td>28.0</td>
            <td>10.0</td>
            <td>AA-</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113565.html'>宏辉转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603336.html'>[正股]</a></td>
            <td>2.25</td>
            <td>106.92</td>
            <td>12.8</td>
            <td>119.72</td>
            <td>32.0</td>
            <td>6.7</td>
            <td>AA-</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113561.html'>正裕转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603089.html'>[正股]</a></td>
            <td>1.5</td>
            <td>107.79</td>
            <td>21.6</td>
            <td>129.39</td>
            <td>20.0</td>
            <td>6.6</td>
            <td>A+</td>
            <td></td>
        </tr>
    </tbody>
</table><br><center> =========双低策略=========</center><br><table>
    <thead>
        <tr>
            <th>名称</th>
            <th>正股名称</th>
            <th>行业</th>
            <th>子行业</th>
            <th>转债价格</th>
            <th>溢价率</th>
            <th>双低值</th>
            <th>信用</th>
            <th>续存期</th>
            <th>税前收益</th>
            <th>营收(亿元)</th>
            <th>营收同比</th>
            <th>净利润(亿元)</th>
            <th>净利润同比</th>
            <th>利润率(%)</th>
            <th>利润率同比</th>
            <th>ROE(%)</th>
            <th>ROE同比</th>
            <th>负债率</th>
            <th>负债率同比</th>
            <th>市盈率</th>
            <th>市净率</th>
            <th>市值(亿元)</th>
            <th>余额(亿元)</th>
            <th>余额/股本(%)</th>
            <th>ma20乖离</th>
            <th>热门度</th>
            <th>持有</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128085.html'>鸿达转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002002.html'>[正股]</a></td>
            <td>鸿达兴业</td>
            <td>化工</td>
            <td>化工</td>
            <td>102.65</td>
            <td>-0.4</td>
            <td>102.25</td>
            <td>BB</td>
            <td>1.35</td>
            <td>4.37</td>
            <td>16.42</td>
            <td>13.83%</td>
            <td>2.69</td>
            <td>41.13%</td>
            <td>16.41%</td>
            <td>23.94%</td>
            <td>3.49%</td>
            <td>34.75%</td>
            <td>51.6%</td>
            <td>-8.6%</td>
            <td>10.953</td>
            <td>1.39</td>
            <td>117.0</td>
            <td>12.0</td>
            <td>10.5%</td>
            <td>0.052</td>
            <td>100</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz127027.html'>靖远转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz000552.html'>[正股]</a></td>
            <td>靖远煤电</td>
            <td>煤炭</td>
            <td>煤炭开采</td>
            <td>99.69</td>
            <td>3.7</td>
            <td>103.39</td>
            <td>AA+</td>
            <td>0.3</td>
            <td>2.7</td>
            <td>11.86</td>
            <td>9.03%</td>
            <td>1.61</td>
            <td>8.74%</td>
            <td>13.55%</td>
            <td>-0.22%</td>
            <td>1.9%</td>
            <td>1.6%</td>
            <td>36.42%</td>
            <td>32.47%</td>
            <td>11.747</td>
            <td>0.92</td>
            <td>73.0</td>
            <td>28.0</td>
            <td>36.8%</td>
            <td>0.052</td>
            <td>31</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128127.html'>文科转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002775.html'>[正股]</a></td>
            <td>文科园林</td>
            <td>城市公用设施</td>
            <td>生态环境建设</td>
            <td>99.498</td>
            <td>4.6</td>
            <td>104.1</td>
            <td>AA-</td>
            <td>0.67</td>
            <td>3.92</td>
            <td>4.07</td>
            <td>57.4%</td>
            <td>0.09</td>
            <td>175.78%</td>
            <td>2.26%</td>
            <td>-148.19%</td>
            <td>0.37%</td>
            <td>177.08%</td>
            <td>55.63%</td>
            <td>32.23%</td>
            <td>71.558</td>
            <td>1.11</td>
            <td>26.0</td>
            <td>9.5</td>
            <td>34.5%</td>
            <td>0.032</td>
            <td>40</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh110080.html'>东湖转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh600133.html'>[正股]</a></td>
            <td>东湖高新</td>
            <td>建筑</td>
            <td>建筑工程</td>
            <td>99.12</td>
            <td>8.3</td>
            <td>107.42</td>
            <td>AA</td>
            <td>0.0</td>
            <td>2.6</td>
            <td>21.48</td>
            <td>86.66%</td>
            <td>0.3</td>
            <td>154.52%</td>
            <td>1.38%</td>
            <td>-129.11%</td>
            <td>0.5501%</td>
            <td>143.87%</td>
            <td>73.1%</td>
            <td>-4.92%</td>
            <td>37.488</td>
            <td>0.83</td>
            <td>45.0</td>
            <td>15.5</td>
            <td>31.6%</td>
            <td>-0.015</td>
            <td>3</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz127018.html'>本钢转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz000761.html'>[正股]</a></td>
            <td>本钢板材</td>
            <td>钢铁</td>
            <td>炼钢</td>
            <td>100.581</td>
            <td>8.3</td>
            <td>108.88</td>
            <td>AAA</td>
            <td>0.77</td>
            <td>5.08</td>
            <td>152.52</td>
            <td>30.04%</td>
            <td>6.87</td>
            <td>285.73%</td>
            <td>4.5%</td>
            <td>196.05%</td>
            <td>3.21%</td>
            <td>252.75%</td>
            <td>66.51%</td>
            <td>-1.67%</td>
            <td>6.746</td>
            <td>0.88</td>
            <td>181.0</td>
            <td>67.5</td>
            <td>34.6%</td>
            <td>0.074</td>
            <td>62</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128087.html'>孚日转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002083.html'>[正股]</a></td>
            <td>孚日股份</td>
            <td>服装纺织</td>
            <td>家纺</td>
            <td>100.967</td>
            <td>8.2</td>
            <td>109.17</td>
            <td>AA</td>
            <td>1.32</td>
            <td>2.51</td>
            <td>12.75</td>
            <td>9.5%</td>
            <td>0.87</td>
            <td>-9.34%</td>
            <td>6.8%</td>
            <td>-17.27%</td>
            <td>2.38%</td>
            <td>-5.18%</td>
            <td>53.53%</td>
            <td>-0.83%</td>
            <td>10.911</td>
            <td>1.05</td>
            <td>38.0</td>
            <td>6.5</td>
            <td>15.9%</td>
            <td>0.004</td>
            <td>57</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113610.html'>灵康转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603669.html'>[正股]</a></td>
            <td>灵康药业</td>
            <td>医药</td>
            <td>化学制药</td>
            <td>108.68</td>
            <td>0.8</td>
            <td>109.48</td>
            <td>AA-</td>
            <td>0.39</td>
            <td>2.01</td>
            <td>2.74</td>
            <td>5.5%</td>
            <td>0.35</td>
            <td>-46.82%</td>
            <td>12.81%</td>
            <td>-49.61%</td>
            <td>2.34%</td>
            <td>-52.24%</td>
            <td>44.92%</td>
            <td>41.48%</td>
            <td>48.418</td>
            <td>4.82</td>
            <td>68.0</td>
            <td>5.25</td>
            <td>8.4%</td>
            <td>0.05</td>
            <td>21</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128013.html'>洪涛转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002325.html'>[正股]</a></td>
            <td>洪涛股份</td>
            <td>建筑</td>
            <td>装饰工程</td>
            <td>105.7</td>
            <td>3.9</td>
            <td>109.6</td>
            <td>AA-</td>
            <td>4.72</td>
            <td>3.24</td>
            <td>7.85</td>
            <td>-4.82%</td>
            <td>0.09</td>
            <td>38.45%</td>
            <td>1.12%</td>
            <td>45.45%</td>
            <td>0.32%</td>
            <td>60.0%</td>
            <td>69.57%</td>
            <td>1.24%</td>
            <td>84.903</td>
            <td>1.09</td>
            <td>30.0</td>
            <td>11.6</td>
            <td>39.7%</td>
            <td>-0.016</td>
            <td>93</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz127028.html'>英特转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz000411.html'>[正股]</a></td>
            <td>英特集团</td>
            <td>医药</td>
            <td>医药商业</td>
            <td>111.28</td>
            <td>-1.6</td>
            <td>109.68</td>
            <td>AA+</td>
            <td>0.18</td>
            <td>0.29</td>
            <td>64.54</td>
            <td>14.39%</td>
            <td>0.41</td>
            <td>24.19%</td>
            <td>0.64%</td>
            <td>8.47%</td>
            <td>2.3%</td>
            <td>6.48%</td>
            <td>73.09%</td>
            <td>-1.26%</td>
            <td>21.92</td>
            <td>2.23</td>
            <td>38.0</td>
            <td>6.0</td>
            <td>17.9%</td>
            <td>0.067</td>
            <td>14</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128081.html'>海亮转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002203.html'>[正股]</a></td>
            <td>海亮股份</td>
            <td>有色金属</td>
            <td>铜金属</td>
            <td>109.292</td>
            <td>1.6</td>
            <td>110.89</td>
            <td>AA</td>
            <td>1.41</td>
            <td>1.13</td>
            <td>155.99</td>
            <td>35.9%</td>
            <td>2.71</td>
            <td>61.09%</td>
            <td>1.74%</td>
            <td>18.37%</td>
            <td>2.72%</td>
            <td>52.81%</td>
            <td>64.69%</td>
            <td>0.79%</td>
            <td>18.607</td>
            <td>2.17</td>
            <td>205.0</td>
            <td>30.1</td>
            <td>15.7%</td>
            <td>-0.002</td>
            <td>52</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123102.html'>华自转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300490.html'>[正股]</a></td>
            <td>华自科技</td>
            <td>机械装备制造</td>
            <td>机器人及工业自动化</td>
            <td>103.3</td>
            <td>8.3</td>
            <td>111.6</td>
            <td>AA-</td>
            <td>0.12</td>
            <td>3.68</td>
            <td>2.66</td>
            <td>118.93%</td>
            <td>0.03</td>
            <td>123.11%</td>
            <td>1.26%</td>
            <td>-110.58%</td>
            <td>0.19%</td>
            <td>122.35%</td>
            <td>54.84%</td>
            <td>34.42%</td>
            <td>168.285</td>
            <td>1.29</td>
            <td>23.0</td>
            <td>6.7</td>
            <td>28.2%</td>
            <td>-0.025</td>
            <td>15</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113033.html'>利群转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601366.html'>[正股]</a></td>
            <td>利群股份</td>
            <td>商业零售</td>
            <td>商场</td>
            <td>99.67</td>
            <td>12.1</td>
            <td>111.77</td>
            <td>AA</td>
            <td>1.06</td>
            <td>3.01</td>
            <td>23.99</td>
            <td>-0.48%</td>
            <td>0.11</td>
            <td>116.15%</td>
            <td>0.46%</td>
            <td>-116.31%</td>
            <td>0.23%</td>
            <td>115.65%</td>
            <td>68.18%</td>
            <td>11.21%</td>
            <td>122.087</td>
            <td>1.15</td>
            <td>54.0</td>
            <td>18.0</td>
            <td>29.8%</td>
            <td>-0.036</td>
            <td>51</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123080.html'>海波转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300517.html'>[正股]</a></td>
            <td>海波重科</td>
            <td>建筑</td>
            <td>建筑工程</td>
            <td>111.4</td>
            <td>0.4</td>
            <td>111.8</td>
            <td>A+</td>
            <td>0.39</td>
            <td>2.37</td>
            <td>4.16</td>
            <td>529.84%</td>
            <td>0.39</td>
            <td>599.09%</td>
            <td>9.37%</td>
            <td>11.02%</td>
            <td>4.51%</td>
            <td>485.71%</td>
            <td>50.98%</td>
            <td>-0.96%</td>
            <td>15.834</td>
            <td>2.98</td>
            <td>25.0</td>
            <td>2.45</td>
            <td>11.0%</td>
            <td>0.001</td>
            <td>16</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh110071.html'>湖盐转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh600929.html'>[正股]</a></td>
            <td>雪天盐业</td>
            <td>食品饮料</td>
            <td>食品饮料行业</td>
            <td>103.55</td>
            <td>9.3</td>
            <td>112.85</td>
            <td>AA</td>
            <td>0.78</td>
            <td>2.13</td>
            <td>5.49</td>
            <td>24.68%</td>
            <td>0.48</td>
            <td>12.08%</td>
            <td>8.7%</td>
            <td>-10.12%</td>
            <td>1.74%</td>
            <td>2.96%</td>
            <td>36.07%</td>
            <td>11.78%</td>
            <td>30.618</td>
            <td>2.16</td>
            <td>57.0</td>
            <td>7.2</td>
            <td>11.9%</td>
            <td>0.021</td>
            <td>18</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113039.html'>嘉泽转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601619.html'>[正股]</a></td>
            <td>嘉泽新能</td>
            <td>能源电力</td>
            <td>风能</td>
            <td>103.76</td>
            <td>9.6</td>
            <td>113.36</td>
            <td>AA</td>
            <td>0.65</td>
            <td>1.68</td>
            <td>3.17</td>
            <td>28.68%</td>
            <td>1.0</td>
            <td>106.33%</td>
            <td>31.42%</td>
            <td>60.39%</td>
            <td>2.68%</td>
            <td>86.11%</td>
            <td>68.95%</td>
            <td>7.73%</td>
            <td>18.091</td>
            <td>1.97</td>
            <td>71.0</td>
            <td>11.8</td>
            <td>15.9%</td>
            <td>-0.039</td>
            <td>30</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123089.html'>九洲转2</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300040.html'>[正股]</a></td>
            <td>九洲集团</td>
            <td>能源电力</td>
            <td>电力设备</td>
            <td>109.0</td>
            <td>4.4</td>
            <td>113.4</td>
            <td>AA-</td>
            <td>0.34</td>
            <td>1.92</td>
            <td>3.68</td>
            <td>88.91%</td>
            <td>0.33</td>
            <td>105.39%</td>
            <td>8.87%</td>
            <td>8.83%</td>
            <td>1.38%</td>
            <td>76.92%</td>
            <td>66.56%</td>
            <td>13.72%</td>
            <td>25.174</td>
            <td>1.42</td>
            <td>32.0</td>
            <td>5.0</td>
            <td>16.4%</td>
            <td>0.046</td>
            <td>19</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh110072.html'>广汇转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh600297.html'>[正股]</a></td>
            <td>广汇汽车</td>
            <td>汽车</td>
            <td>分销、售后及租赁</td>
            <td>90.5</td>
            <td>23.6</td>
            <td>114.1</td>
            <td>AA+</td>
            <td>0.66</td>
            <td>4.65</td>
            <td>422.27</td>
            <td>64.92%</td>
            <td>6.51</td>
            <td>263.93%</td>
            <td>1.54%</td>
            <td>-199.35%</td>
            <td>1.59%</td>
            <td>251.43%</td>
            <td>65.4%</td>
            <td>-0.19%</td>
            <td>9.339</td>
            <td>0.59</td>
            <td>239.0</td>
            <td>33.7</td>
            <td>10.3%</td>
            <td>-0.029</td>
            <td>52</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123086.html'>海兰转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300065.html'>[正股]</a></td>
            <td>海兰信</td>
            <td>电子</td>
            <td>电子产品</td>
            <td>105.0</td>
            <td>9.7</td>
            <td>114.7</td>
            <td>AA-</td>
            <td>0.26</td>
            <td>3.01</td>
            <td>1.32</td>
            <td>10.15%</td>
            <td>-0.31</td>
            <td>-96.1%</td>
            <td>-23.34%</td>
            <td>78.03%</td>
            <td>-1.89%</td>
            <td>-117.24%</td>
            <td>43.11%</td>
            <td>44.4%</td>
            <td>-33.85</td>
            <td>2.79</td>
            <td>41.0</td>
            <td>7.3</td>
            <td>16.9%</td>
            <td>-0.049</td>
            <td>14</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123097.html'>美力转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300611.html'>[正股]</a></td>
            <td>美力科技</td>
            <td>机械装备制造</td>
            <td>通用设备</td>
            <td>104.597</td>
            <td>10.5</td>
            <td>115.1</td>
            <td>A+</td>
            <td>0.21</td>
            <td>2.73</td>
            <td>1.81</td>
            <td>76.12%</td>
            <td>0.12</td>
            <td>1151.35%</td>
            <td>6.76%</td>
            <td>-698.23%</td>
            <td>1.86%</td>
            <td>700.0%</td>
            <td>48.89%</td>
            <td>15.91%</td>
            <td>32.451</td>
            <td>2.38</td>
            <td>16.0</td>
            <td>3.0</td>
            <td>17.9%</td>
            <td>-0.012</td>
            <td>12</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113549.html'>白电转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603861.html'>[正股]</a></td>
            <td>白云电器</td>
            <td>能源电力</td>
            <td>电力设备</td>
            <td>102.97</td>
            <td>12.6</td>
            <td>115.57</td>
            <td>AA</td>
            <td>1.42</td>
            <td>2.49</td>
            <td>4.5</td>
            <td>43.59%</td>
            <td>0.5</td>
            <td>161.56%</td>
            <td>11.09%</td>
            <td>-142.88%</td>
            <td>1.87%</td>
            <td>162.13%</td>
            <td>61.16%</td>
            <td>1.82%</td>
            <td>17.828</td>
            <td>1.39</td>
            <td>36.0</td>
            <td>8.8</td>
            <td>22.4%</td>
            <td>0.015</td>
            <td>39</td>
            <td></td>
        </tr>
    </tbody>
</table><br><center> =========高收益策略=========</center><br><table>
    <thead>
        <tr>
            <th>名称</th>
            <th>信用</th>
            <th>转债价格</th>
            <th>到期收益率</th>
            <th>性价比</th>
            <th>持有</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113595.html'>花王转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603007.html'>[正股]</a></td>
            <td>AA-</td>
            <td>87.13</td>
            <td>7.44</td>
            <td>20.31</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113596.html'>城地转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603887.html'>[正股]</a></td>
            <td>AA-</td>
            <td>90.69</td>
            <td>4.5</td>
            <td>13.81</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113576.html'>起步转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603557.html'>[正股]</a></td>
            <td>A</td>
            <td>92.13</td>
            <td>5.9</td>
            <td>13.77</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113589.html'>天创转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603608.html'>[正股]</a></td>
            <td>AA</td>
            <td>92.88</td>
            <td>4.42</td>
            <td>11.54</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123085.html'>万顺转2</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300057.html'>[正股]</a></td>
            <td>AA-</td>
            <td>93.0</td>
            <td>3.68</td>
            <td>10.68</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz127019.html'>国城转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz000688.html'>[正股]</a></td>
            <td>AA</td>
            <td>93.415</td>
            <td>4.2</td>
            <td>10.78</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128132.html'>交建转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002941.html'>[正股]</a></td>
            <td>AA</td>
            <td>94.35</td>
            <td>4.25</td>
            <td>9.9</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128044.html'>岭南转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002717.html'>[正股]</a></td>
            <td>AA</td>
            <td>95.087</td>
            <td>5.07</td>
            <td>9.98</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113569.html'>科达转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603660.html'>[正股]</a></td>
            <td>AA-</td>
            <td>95.14</td>
            <td>5.09</td>
            <td>9.95</td>
            <td>✔️️</td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113027.html'>华钰转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601020.html'>[正股]</a></td>
            <td>AA-</td>
            <td>95.53</td>
            <td>4.73</td>
            <td>9.2</td>
            <td>✔️️</td>
        </tr>
    </tbody>
</table><br><center> =========活性债策略=========</center><br><table>
    <thead>
        <tr>
            <th>名称</th>
            <th>正股名称</th>
            <th>行业</th>
            <th>子行业</th>
            <th>转债价格</th>
            <th>溢价率</th>
            <th>双低值</th>
            <th>信用</th>
            <th>续存期</th>
            <th>税前收益</th>
            <th>营收(亿元)</th>
            <th>营收同比</th>
            <th>净利润(亿元)</th>
            <th>净利润同比</th>
            <th>利润率(%)</th>
            <th>利润率同比</th>
            <th>ROE(%)</th>
            <th>ROE同比</th>
            <th>负债率</th>
            <th>负债率同比</th>
            <th>市盈率</th>
            <th>市净率</th>
            <th>市值(亿元)</th>
            <th>余额(亿元)</th>
            <th>余额/股本(%)</th>
            <th>ma20乖离</th>
            <th>热门度</th>
            <th>持有</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128081.html'>海亮转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002203.html'>[正股]</a></td>
            <td>海亮股份</td>
            <td>有色金属</td>
            <td>铜金属</td>
            <td>109.292</td>
            <td>1.6</td>
            <td>110.89</td>
            <td>AA</td>
            <td>1.41</td>
            <td>1.13</td>
            <td>155.99</td>
            <td>35.9%</td>
            <td>2.71</td>
            <td>61.09%</td>
            <td>1.74%</td>
            <td>18.37%</td>
            <td>2.72%</td>
            <td>52.81%</td>
            <td>64.69%</td>
            <td>0.79%</td>
            <td>18.607</td>
            <td>2.17</td>
            <td>205.0</td>
            <td>30.1</td>
            <td>15.7%</td>
            <td>-0.002</td>
            <td>52</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128064.html'>司尔转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002538.html'>[正股]</a></td>
            <td>司尔特</td>
            <td>化工</td>
            <td>农化</td>
            <td>112.4</td>
            <td>4.2</td>
            <td>116.6</td>
            <td>AA</td>
            <td>2.02</td>
            <td>0.44</td>
            <td>7.69</td>
            <td>-10.42%</td>
            <td>0.91</td>
            <td>48.84%</td>
            <td>11.78%</td>
            <td>66.15%</td>
            <td>2.19%</td>
            <td>39.49%</td>
            <td>38.31%</td>
            <td>24.88%</td>
            <td>12.972</td>
            <td>1.17</td>
            <td>47.0</td>
            <td>8.0</td>
            <td>18.4%</td>
            <td>0.044</td>
            <td>49</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128051.html'>光华转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002741.html'>[正股]</a></td>
            <td>光华科技</td>
            <td>电子</td>
            <td>元器件制造</td>
            <td>114.617</td>
            <td>2.1</td>
            <td>116.72</td>
            <td>AA-</td>
            <td>2.34</td>
            <td>0.05</td>
            <td>5.26</td>
            <td>79.49%</td>
            <td>0.11</td>
            <td>178.04%</td>
            <td>2.01%</td>
            <td>-143.51%</td>
            <td>0.82%</td>
            <td>175.23%</td>
            <td>51.97%</td>
            <td>1.37%</td>
            <td>127.291</td>
            <td>4.32</td>
            <td>53.0</td>
            <td>2.47</td>
            <td>5.2%</td>
            <td>0.024</td>
            <td>26</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh110057.html'>现代转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh600420.html'>[正股]</a></td>
            <td>国药现代</td>
            <td>医药</td>
            <td>化学制药</td>
            <td>114.61</td>
            <td>2.2</td>
            <td>116.81</td>
            <td>AAA</td>
            <td>2.04</td>
            <td>-1.0</td>
            <td>39.29</td>
            <td>18.94%</td>
            <td>2.21</td>
            <td>62.98%</td>
            <td>5.62%</td>
            <td>37.07%</td>
            <td>2.68%</td>
            <td>51.41%</td>
            <td>47.28%</td>
            <td>-3.68%</td>
            <td>12.68</td>
            <td>1.41</td>
            <td>114.0</td>
            <td>16.2</td>
            <td>15.9%</td>
            <td>0.102</td>
            <td>24</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz123063.html'>大禹转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz300021.html'>[正股]</a></td>
            <td>大禹节水</td>
            <td>化工</td>
            <td>橡胶塑料</td>
            <td>110.25</td>
            <td>6.8</td>
            <td>117.05</td>
            <td>AA-</td>
            <td>0.73</td>
            <td>2.74</td>
            <td>4.35</td>
            <td>127.07%</td>
            <td>0.16</td>
            <td>1285.19%</td>
            <td>3.58%</td>
            <td>506.78%</td>
            <td>0.94%</td>
            <td>1275.0%</td>
            <td>65.22%</td>
            <td>8.49%</td>
            <td>63.31</td>
            <td>2.68</td>
            <td>41.0</td>
            <td>6.38</td>
            <td>16.2%</td>
            <td>0.028</td>
            <td>16</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128057.html'>博彦转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002649.html'>[正股]</a></td>
            <td>博彦科技</td>
            <td>计算机及应用</td>
            <td>软件开发</td>
            <td>114.504</td>
            <td>2.7</td>
            <td>117.2</td>
            <td>AA-</td>
            <td>2.12</td>
            <td>0.42</td>
            <td>11.44</td>
            <td>26.05%</td>
            <td>0.56</td>
            <td>772.43%</td>
            <td>4.94%</td>
            <td>595.77%</td>
            <td>1.83%</td>
            <td>695.65%</td>
            <td>29.45%</td>
            <td>-15.19%</td>
            <td>22.736</td>
            <td>1.66</td>
            <td>50.0</td>
            <td>5.07</td>
            <td>11.2%</td>
            <td>-0.054</td>
            <td>27</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128106.html'>华统转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002840.html'>[正股]</a></td>
            <td>华统股份</td>
            <td>农业</td>
            <td>农产品加工</td>
            <td>116.61</td>
            <td>0.8</td>
            <td>117.41</td>
            <td>AA</td>
            <td>1.01</td>
            <td>-0.67</td>
            <td>26.38</td>
            <td>23.66%</td>
            <td>1.0</td>
            <td>126.54%</td>
            <td>3.79%</td>
            <td>83.09%</td>
            <td>5.7%</td>
            <td>96.55%</td>
            <td>59.56%</td>
            <td>27.9%</td>
            <td>12.078</td>
            <td>2.76</td>
            <td>49.0</td>
            <td>5.35</td>
            <td>12.7%</td>
            <td>0.033</td>
            <td>9</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113599.html'>嘉友转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603871.html'>[正股]</a></td>
            <td>嘉友国际</td>
            <td>交通运输</td>
            <td>物流业</td>
            <td>109.3</td>
            <td>8.3</td>
            <td>117.6</td>
            <td>AA-</td>
            <td>0.68</td>
            <td>2.81</td>
            <td>6.0</td>
            <td>-1.89%</td>
            <td>0.84</td>
            <td>72.9%</td>
            <td>14.02%</td>
            <td>76.13%</td>
            <td>3.81%</td>
            <td>48.25%</td>
            <td>34.73%</td>
            <td>92.28%</td>
            <td>15.425</td>
            <td>2.56</td>
            <td>55.0</td>
            <td>7.2</td>
            <td>13.2%</td>
            <td>0.152</td>
            <td>20</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128130.html'>景兴转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002067.html'>[正股]</a></td>
            <td>景兴纸业</td>
            <td>造纸包装印刷</td>
            <td>包装用纸</td>
            <td>115.468</td>
            <td>2.2</td>
            <td>117.67</td>
            <td>AA</td>
            <td>0.65</td>
            <td>-0.06</td>
            <td>13.04</td>
            <td>50.9%</td>
            <td>1.16</td>
            <td>168.32%</td>
            <td>8.93%</td>
            <td>77.89%</td>
            <td>2.42%</td>
            <td>144.44%</td>
            <td>29.76%</td>
            <td>41.76%</td>
            <td>9.542</td>
            <td>0.91</td>
            <td>44.0</td>
            <td>10.8</td>
            <td>27.4%</td>
            <td>0.006</td>
            <td>14</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh110045.html'>海澜转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh600398.html'>[正股]</a></td>
            <td>海澜之家</td>
            <td>服装纺织</td>
            <td>服装行业</td>
            <td>110.3</td>
            <td>7.9</td>
            <td>118.2</td>
            <td>AA+</td>
            <td>2.79</td>
            <td>0.23</td>
            <td>54.94</td>
            <td>42.77%</td>
            <td>8.42</td>
            <td>185.33%</td>
            <td>15.33%</td>
            <td>99.87%</td>
            <td>5.96%</td>
            <td>177.21%</td>
            <td>51.34%</td>
            <td>-2.17%</td>
            <td>9.524</td>
            <td>2.3</td>
            <td>322.0</td>
            <td>29.5</td>
            <td>9.4%</td>
            <td>0.084</td>
            <td>56</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz128107.html'>交科转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz002061.html'>[正股]</a></td>
            <td>浙江交科</td>
            <td>建筑</td>
            <td>建筑工程</td>
            <td>109.7</td>
            <td>9.3</td>
            <td>119.0</td>
            <td>AA+</td>
            <td>0.98</td>
            <td>0.96</td>
            <td>70.18</td>
            <td>47.2%</td>
            <td>0.96</td>
            <td>865.46%</td>
            <td>1.36%</td>
            <td>547.62%</td>
            <td>1.1%</td>
            <td>746.15%</td>
            <td>74.51%</td>
            <td>7.68%</td>
            <td>19.321</td>
            <td>0.86</td>
            <td>74.0</td>
            <td>25.0</td>
            <td>33.9%</td>
            <td>-0.031</td>
            <td>17</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113541.html'>荣晟转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh603165.html'>[正股]</a></td>
            <td>荣晟环保</td>
            <td>造纸包装印刷</td>
            <td>包装用纸</td>
            <td>119.03</td>
            <td>0.1</td>
            <td>119.13</td>
            <td>AA-</td>
            <td>1.75</td>
            <td>-0.84</td>
            <td>4.7</td>
            <td>35.12%</td>
            <td>0.72</td>
            <td>39.05%</td>
            <td>15.38%</td>
            <td>2.88%</td>
            <td>4.25%</td>
            <td>21.78%</td>
            <td>18.93%</td>
            <td>-15.83%</td>
            <td>12.433</td>
            <td>2.05</td>
            <td>35.0</td>
            <td>2.39</td>
            <td>8.1%</td>
            <td>0.024</td>
            <td>44</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sh113030.html'>东风转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sh601515.html'>[正股]</a></td>
            <td>东风股份</td>
            <td>造纸包装印刷</td>
            <td>包装材料</td>
            <td>112.57</td>
            <td>7.2</td>
            <td>119.77</td>
            <td>AA</td>
            <td>1.31</td>
            <td>0.84</td>
            <td>9.71</td>
            <td>10.22%</td>
            <td>2.46</td>
            <td>33.07%</td>
            <td>25.33%</td>
            <td>20.73%</td>
            <td>5.42%</td>
            <td>21.8%</td>
            <td>27.14%</td>
            <td>-1.27%</td>
            <td>9.426</td>
            <td>2.05</td>
            <td>95.0</td>
            <td>2.95</td>
            <td>3.3%</td>
            <td>0.13</td>
            <td>18</td>
            <td></td>
        </tr>
        <tr>
            <td><a target = '_blank' href = 'http://quote.eastmoney.com/bond/sz127020.html'>中金转债</a>&nbsp;<a target='_blank' href='http://quote.eastmoney.com/sz000060.html'>[正股]</a></td>
            <td>中金岭南</td>
            <td>有色金属</td>
            <td>有色行业</td>
            <td>112.1</td>
            <td>7.8</td>
            <td>119.9</td>
            <td>AA+</td>
            <td>0.75</td>
            <td>0.28</td>
            <td>91.06</td>
            <td>50.52%</td>
            <td>2.57</td>
            <td>80.12%</td>
            <td>2.82%</td>
            <td>19.49%</td>
            <td>2.08%</td>
            <td>61.24%</td>
            <td>48.95%</td>
            <td>9.22%</td>
            <td>17.284</td>
            <td>1.46</td>
            <td>175.0</td>
            <td>38.0</td>
            <td>22.6%</td>
            <td>0.02</td>
            <td>15</td>
            <td></td>
        </tr>
    </tbody>
</table>
            </div>
        </body>
        </html>
            